<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.conference.system.mapper.SysConferenceMapper">

    <resultMap type="org.conference.system.entity.SysConference" id="SysConferenceMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="meetingName" column="meeting_name" jdbcType="VARCHAR"/>
        <result property="meetingStatus" column="meeting_status" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="maxCount" column="max_count" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="place" column="place" jdbcType="VARCHAR"/>
        <result property="link" column="link" jdbcType="VARCHAR"/>
        <result property="common" column="common" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysConferenceMap">
        select
          id, meeting_name, meeting_status, create_date, end_date, remark, max_count, user_id, place, link, common
        from sys_conference
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysConferenceMap">
        select
          id, meeting_name, meeting_status, create_date, end_date, remark, max_count, user_id, place, link, common
        from sys_conference
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="meetingName != null and meetingName != ''">
                and meeting_name = #{meetingName}
            </if>
            <if test="meetingStatus != null">
                and meeting_status = #{meetingStatus}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="maxCount != null">
                and max_count = #{maxCount}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="place != null and place != ''">
                and place = #{place}
            </if>
            <if test="link != null and link != ''">
                and link = #{link}
            </if>
            <if test="common != null">
                and common = #{common}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_conference
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="meetingName != null and meetingName != ''">
                and meeting_name = #{meetingName}
            </if>
            <if test="meetingStatus != null">
                and meeting_status = #{meetingStatus}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="maxCount != null">
                and max_count = #{maxCount}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="place != null and place != ''">
                and place = #{place}
            </if>
            <if test="link != null and link != ''">
                and link = #{link}
            </if>
            <if test="common != null">
                and common = #{common}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_conference(meeting_name, meeting_status, create_date, end_date, remark, max_count, user_id, place, link, common)
        values (#{meetingName}, #{meetingStatus}, #{createDate}, #{endDate}, #{remark}, #{maxCount}, #{userId}, #{place}, #{link}, #{common})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_conference(meeting_name, meeting_status, create_date, end_date, remark, max_count, user_id, place, link, common)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.meetingName}, #{entity.meetingStatus}, #{entity.createDate}, #{entity.endDate}, #{entity.remark}, #{entity.maxCount}, #{entity.userId}, #{entity.place}, #{entity.link}, #{entity.common})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_conference(meeting_name, meeting_status, create_date, end_date, remark, max_count, user_id, place, link, common)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.meetingName}, #{entity.meetingStatus}, #{entity.createDate}, #{entity.endDate}, #{entity.remark}, #{entity.maxCount}, #{entity.userId}, #{entity.place}, #{entity.link}, #{entity.common})
        </foreach>
        on duplicate key update
        meeting_name = values(meeting_name),
        meeting_status = values(meeting_status),
        create_date = values(create_date),
        end_date = values(end_date),
        remark = values(remark),
        max_count = values(max_count),
        user_id = values(user_id),
        place = values(place),
        link = values(link),
        common = values(common)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_conference
        <set>
            <if test="meetingName != null and meetingName != ''">
                meeting_name = #{meetingName},
            </if>
            <if test="meetingStatus != null">
                meeting_status = #{meetingStatus},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="maxCount != null">
                max_count = #{maxCount},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="place != null and place != ''">
                place = #{place},
            </if>
            <if test="link != null and link != ''">
                link = #{link},
            </if>
            <if test="common != null">
                common = #{common},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sys_conference where id = #{id}
    </delete>

</mapper>

