<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.conference.system.mapper.SysFileMapper">

    <resultMap type="org.conference.system.entity.SysFile" id="SysFileMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileType" column="file_type" jdbcType="INTEGER"/>
        <result property="size" column="size" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="privilege" column="privilege" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysFileMap">
        select
          id, file_name, file_type, size, path, remark, user_id, create_date, icon, privilege
        from sys_file
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysFileMap">
        select
          id, file_name, file_type, size, path, remark, user_id, create_date, icon, privilege
        from sys_file
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType}
            </if>
            <if test="size != null and size != ''">
                and size = #{size}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="privilege != null">
                and privilege = #{privilege}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_file
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null">
                and file_type = #{fileType}
            </if>
            <if test="size != null and size != ''">
                and size = #{size}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="icon != null and icon != ''">
                and icon = #{icon}
            </if>
            <if test="privilege != null">
                and privilege = #{privilege}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_file(file_name, file_type, size, path, remark, user_id, create_date, icon, privilege)
        values (#{fileName}, #{fileType}, #{size}, #{path}, #{remark}, #{userId}, #{createDate}, #{icon}, #{privilege})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_file(file_name, file_type, size, path, remark, user_id, create_date, icon, privilege)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.fileName}, #{entity.fileType}, #{entity.size}, #{entity.path}, #{entity.remark}, #{entity.userId}, #{entity.createDate}, #{entity.icon}, #{entity.privilege})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_file(file_name, file_type, size, path, remark, user_id, create_date, icon, privilege)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fileName}, #{entity.fileType}, #{entity.size}, #{entity.path}, #{entity.remark}, #{entity.userId}, #{entity.createDate}, #{entity.icon}, #{entity.privilege})
        </foreach>
        on duplicate key update
        file_name = values(file_name),
        file_type = values(file_type),
        size = values(size),
        path = values(path),
        remark = values(remark),
        user_id = values(user_id),
        create_date = values(create_date),
        icon = values(icon),
        privilege = values(privilege)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_file
        <set>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName},
            </if>
            <if test="fileType != null">
                file_type = #{fileType},
            </if>
            <if test="size != null and size != ''">
                size = #{size},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            <if test="privilege != null">
                privilege = #{privilege},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sys_file where id = #{id}
    </delete>

</mapper>

